nav{
  padding: 10px 0;
  padding-left:6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #575757;
}
.logo a{
  font-size: 50px;
  text-decoration: none;
}
span{
  color: #f9004d;
}